/* ------------ CLASS STYLES START ------------ */
.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-bottom: 5rem;
}
/* ------------ CLASS STYLES END ------------ */
